<main>
    <div class="container">
        <ul class="review-cards">
            {{#each review}}
            <li class="review-card">
                <figure><img src="{{imageUrl}}" alt="{{title}}"></figure>
                <a class="review-card__link" href="/review-collection/{{id}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</main>