* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header */

.container {
    display: grid;
}

.main__title {
    color: red
}

.header__name {
    color: blue;
}

body {
    color: red
}