/* font imports */

@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");
/* General styling and resets */

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: cornflowerblue;
}

html {
  font: 20px/1 sans-serif;
  font-family: "Comfortaa", cursive;
}

img {
  margin: 1rem;
  width: 25vw;
  height: 30vh;
}

ul {
  list-style: none;
}

/* Layout styling */

.reviews__wrapper {
  background-image: url(../pictures/header-background.jpg);
  background-size: cover
}

.form-container {
  padding-top: 2rem;
  color: #FFFFFF;
  flex-direction: column;
  text-align: center;
}

.nav__name {
  color: white;
  text-decoration: none;
}

.nav__name:hover {
  color: black;
}

.list a {
  color: #FFFFFF;
  text-decoration: none;
}

.layout__header {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px;
  width: 100%;
  background-color: #f7a1c4;
  align-items: center;
}

.grid-left {
  grid-area: left;
}

.grid-center {
  margin-left: 3rem;
  grid-area: center;
  padding-left: 2rem;
}

.grid-right {
  grid-area: right;
  margin-right: 3rem;
}

.nav__menu__list__item {
  display: inline-flex;
  padding-left: 1rem;
}

/* Reviews view styling */

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 3rem;
}

.list__item {
  background-color: #f7a1c4;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  padding-top: 3rem;
  flex-direction: column;
}

select {
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px grey;
}

.none {
  box-shadow: none;
}

.select__dropdown {
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px grey;
}

.tags {
  /* display: inline-flex; */
  color: #f7a1c4;
  width: 35%;
}

.add__label__tags {
  padding-top: 2rem;
}

.tags:hover {
  color: white;
}

.form-container__label {
  color: white;
}

.tag__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 3rem;
  margin-left: 16rem;
}

.layout__footer {
  background-color: #f7a1c4;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.home__button {
  text-decoration: none;
}

/* Categories List */

.lists__categories {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.review__title {
  color: #FFFFFF;
  font-weight: bold
}

.table__categories {
  text-decoration: none;
  border-collapse: collapse;
  width: 100%;
}

.submit__button {
  margin-top: 1rem;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px grey;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: lightblue
}

th {
  color: white;
}

.link__categories {
  text-decoration: none;
}

.input__add-list {
  background-color: rgb(235, 235, 235);
  margin-top: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.submit__button {
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: lightblue;
  color: darkblue;
  width: 100px;
}

.label__add-category {
  color: white;
}