<main>
    <section class="add__review-details">
        <h1>Add a review</h1>
    </section>
    <div class="add__details-wrapper">
        <form action="/reviews/add" method="POST">
            Title <input type="text" name="title" />
            Image Url<input type="text" name="imageUrl" />
            Review Category<input type="text" name="category" />
            Content<input type="text" name="content" />
            <button type="submit">Add</button>
        </form>
    </div>
    <a href="/">Back to Home</a>
</main>