<main>
    <form class="tag-form" action="/allTags/add" method="POST">
        <label>Tag: <input type="text" name="tag"></label>
            <button class="Submit__button">New Tag</button>
    </form>
    <ul class="tag__list">
        {{#each allTags}}
        <li class="tag__list__item">
            <a class="tag__list__item__link" href="/allTags/{{id}}">{{tag}}</a>
        </li>
        {{/each}}
    </ul>
</main>