<main>

   <form action="/categories/add" method="POST">
      Category Title <input type="text" name="categoryTitle" />
      <button type="submit">Add Category</button>
   </form>
   {{#each category}}
   <ul>
      <li>{{category}}</li>
   </ul>
   {{/each}}


</main>