<main>
    <section class="category-details">
        <h1>{{category.categoryName}}</h1>
        <ul>
            {{#each category.reviews}}
            <li><a href="/reviews/{{id}}">{{categoryTitle}}</a></li>
            {{/each}}
        </ul>
    </section>
    <a href="/">Back to Home</a>
</main>