<main>
    <form class="category-form" action="/categories/add" method="POST">
        <label>Category: <input type="text" name="category"></label>
            <button class="Submit__button">Submit</button>
    </form>
    <ul class="category__list">
        {{#each categories}}
        <li class="category__list__item">
            <a class="category__list__item__link" href="/categories/{{id}}">{{category}}</a>
        </li>
        {{/each}}
    </ul>
</main>