<main>
    <section class="category-details">
        <h1>{{category.category}}</h1>
        <ul>
            {{#each category.reviews}}
            <li><a href="/reviews/{{id}}">{{category}}</a></li>
            {{/each}}
        </ul>
    </section>
</main>