<main>
    <form class="form" action="/categories/add" method="POST">
        <label>Category: <input type="text" name="category"></label>
            <button class="submit__button">Submit</button>
    </form>
    <ul class="list">
        {{#each categories}}
        <li class="list__item">
            <a href="/categories/{{_id}}">{{category}}</a>
        </li>
        {{/each}}
    </ul>
</main>