<main>
    <form class="form" action="/categories/add" method="POST">
        <label>Category: <input type="text" name="category"></label>
            <button class="submit__button">Submit</button>
    </form>
    <table class="table__categories">
        {{#each categories}}
        <tr class="list__categories">
            <th><a href="/categories/{{_id}}">{{category}}</a></th>
        </tr>
        {{/each}}
    <table>
</main>