<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel='stylesheet' type="text/css" href="/stylesheets/style.css" media="all" />
   <title>...Welp...</title>
   <link rel="Welp Icon" href="/pictures/Welp icon final.png">
</head>

<body>
   <div class="layout__wrapper">
      <header class="layout__header">
         <div class="grid-center">

            <img src="/pictures/Welp Logo Final.png" alt="Welp Logo" class="grid-center__image">
         </div>
         <nav class="grid-right">
            <ul class="nav__menu__list">
               <li class="nav__menu__list__item"><a class="nav__name" href="/reviews">Reviews</a></li>
               <li class="nav__menu__list__item"><a class="nav__name" href="/categories">Categories</a></li>
               <li class="nav__menu__list__item"><a class="nav__name" href="/tags">Tags</a></li>
            </ul>
         </nav>
      </header>
      {{{body}}}
      <footer class="layout__footer">
         <small class="layout__footer__copy">&copy; Aquisitions Inc, 2019</small>
         <a class="home__button" href="/">Back To Home</a>
      </footer>
   </div>
</body>