<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel='stylesheet' type="text/css" href="stylesheets/style.css" media="all" />
   <title>...Welp...</title>
</head>


<body>
   <nav class="nav__menu">
      <ul class="nav__menu__list">
         <li class="nav__menu__list__item"><a href="/categories">Categories</a></li>
      </ul>
   </nav>
   <div class="layout__wrapper">
      <header class="layout__header">
         <h1 class="layout__header__title">...Welp...</h1>
      </header>
      {{{body}}}
      <a class="home button" href="/">Back To Home</a>
      <footer class="layout__footer">
         <small class="layout__footer__copy">&copy; Aquisitions Inc, 2019</small>
         <nav>
         </nav>
      </footer>
   </div>
</body>