<main>
   <div class="reviews__container">
      <ul class="reviews__meme__cards">
         {{#each reviews}}
         <li class="reviews__meme__card">
            <figure class="reviews__meme__fegure"><img class="reviews__meme__image" src="{{imageUrl}}" alt="{{title}}"></figure>
            <a class="reviews__meme__link" href="/reviews/{{id}}">{{title}}</a>
         </li>
         {{/each}}
      </ul>
      <nav class="reviews__nav__tab">
         <ul class="reviews__nav__tabs">
            {{!-- <a class="tab"><a href=""></a></a> --}}
            {{!-- <a class="tab"><a href="/views/reviews.hbs">Reviews</a></a> --}}
         </ul>
      </nav>
   </div>
   <a class="reviews__add-card-button" href="/add/">Add a card</a>
</main>