<main>
  <div class="container">
    <ul class="review-cards">
      {{#each reviews}}
      <li class="review-card">
        <figure><img src="{{imageUrl}}" alt="{{title}}"></figure>
        <a class="review-card__link" href="/reviews/{{id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    <nav>
      <ul>
        <li><a href=""></a></li>
        <li><a href="/views/reviews.hbs">Reviews</a></li>
      </ul>
    </nav>
  </div>
  <a href="/">Back to Home</a>
</main>