<main>
    <section class="review-details">
        <h1>{{review.title}}</h1>
        <h2>{{review.author}}</h2>
    </section>
    <ul>
        <li>ISBN: {{review.isbn}}</li>
        <li>Description: {{review.description}}</li>
    </ul>
</main>