<main>
   <div class="container">
      <div class="details-wrapper">
        <form action="/reviews/add" method="POST">
            Title <input type="text" name="title" />
            Image Url<input type="text" name="imageUrl" />
            Review Category<input type="text" name="category" />
            Content<input type="text" name="content" />
            <button type="submit">Add Meme</button>
        </form>
    </div>
      <ul class="meme__cards">
         {{#each reviews}}
         <li class="meme__card">
            <figure class="meme__fegure"><img class="meme__image" src="{{imageUrl}}" alt="{{title}}"></figure>
            <a class="meme__link" href="/reviews/{{id}}">{{title}}</a>
         </li>
         {{/each}}
      </ul>
      <nav class="nav__tab">
         <ul class="nav__tabs">
            {{!-- <a class="tab"><a href=""></a></a> --}}
            {{!-- <a class="tab"><a href="/views/reviews.hbs">Reviews</a></a> --}}
         </ul>
      </nav>
   </div>
   {{!-- <a class="add-card-button" href="/reviews/">Add a card</a> --}}
</main>