<main>
    <section class="tag-details">
        <h1 class="tag__name">{{tag.tag}}</h1>
        <ul class="tag__list">
            {{#each tag.reviews}}
            <li class="tag__list__item"><a href="/tags/{{_id}}"> {{title}}</a>
            </li>
            {{/each}}
        </ul>
    </section>
</main>